.contrast0 {
  background-color: rgb(244, 230, 196);
}

.contrast1 {
  background-color: rgb(244, 216, 150);
}

.contrast2 {
  background-color: rgb(247, 206, 108);
}

.contrast3 {
  background-color: rgb(245, 194, 72);
}

.contrast4 {
  background-color: rgb(244, 184, 40);
}

.contrast5 {
  background-color: rgb(246, 176, 7);
}
